.DeckAndDiscardSection {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 0px 5px;
}

.DiscardSection .PlayerCard, .DeckSection .PlayerCard {
  /* transform: translateX(50%); */
}

.DeckSection {
  grid-column-start: -2;
}

.DeckSection, .DiscardSection {
  display: grid;

  grid-gap: 5px;
  justify-content: center;
  align-content: center;

}
