.PlayerHand {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, minmax(72px, 2fr)) minmax(100px, 3fr);
  grid-gap: 5px;
  background-color: var(--player-background);
  grid-template-rows: auto 100px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.PlayerTokens {
  font-size: 10px;
  text-align: left;
}

.PlayerHeader {
  grid-column: 1/6;
}

.playerTag {
  margin: 5px 0px 0px 0px;
}

@media screen and (max-width: 510px) {
  .PlayerHand {
    grid-template-columns: repeat(5, 36px) 75px;
    /* max-d */
  }
}
