.MiddleSection {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.DiscardSection .PlayerCard, .DeckSection .PlayerCard {
  grid-column: 2;
  /* transform: translateX(50%); */
}

.DeckSection, .DiscardSection {
  display: grid;
  grid-template-rows: 30px 100px;
  grid-template-columns: 1fr 72px 1fr;
  justify-content: center;
}
