h3 {
  text-align: left;
}

.rules-p {
  margin: 10px 25px;
  font-size: 14px;
}

.rules-header {
  margin: 10px 10px;
}

.rulesSection {
  text-align: left;
  max-width: 400px;
}

.phaseHeader {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--text-color)
}

.scroll-component {
   width: calc(100vw - 2rem);
   height: 75vh;
   overflow-y: auto;
}

.rulesSectionContent {
  padding: 1px 0px;
  margin: 5px 0px;
}
