h3 {
  text-align: left;
}

.rules-p {
  margin: 10px 25px;
  font-size: 14px;
}

.rules-header {
  margin: 10px 10px;
}

.rulesSection {
  text-align: left;
}

.phaseHeader {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--text-color)
}

.even {
  /* background-color: var(--player-background); */
}

.odd {
  background-color: var(--primary-background);
  padding: 1px 0px;
}
