h2 {
  margin: 0 0 0 10px ;
}

.startHeader {
  text-align: center;
}
.CardTable {
  display:  grid;
  background: var(--primary-background);
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.CardTableGame {
  grid-template-rows: auto 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.DiscardSection .PlayerCard {
  box-shadow: 1px 1px 1px rgb(256, 256, 256, 0.5);
}

button {
  border: 1px solid rgb(256, 256, 256, 0.5);
  padding: 7px 25px;
  margin: 10px;
  background: var(--button-background);
  color: var(--button-text-color);
  /* width: 100%; */
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover{
  background: var(--button-hover-background);
}

.small-width-button {
  width: initial;
}

.PlayerCardWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.PlayerCard {
  /* border: 10px solid gold; */
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 72px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.PlayerCardMini {
  height: 70% ;
  width: 70%;
  transform: translateX(50%);
}

.PlayerCardFront {
  background: var(--card-face-up-color);
}

.PlayerCardBack {
  background: var(--card-face-down-color);
}
.PlayerCardIsActive {
  border: 2px solid var(--card-active-border-color);
}
