.start-section-container {
  display:grid;
  justify-content: center;
  grid-template-columns: minmax(1fr, 400px);
}

.configuration-modal-container {
  background: var(--primary-background);
  padding: 20px;
}
